FLOCI_OCI_IMAGE=floci/floci-oci:0.2.0
FLOCI_OCI_ENDPOINT=http://localhost:4599
FLOCI_OCI_NAMESPACE=floci-local
FLOCI_OCI_TENANCY=ocid1.tenancy.oc1..flocilocaltenancy0000000000000000000000000000000000000000
