FLOCI_IMAGE=floci/floci:1.5.34-compat
FLOCI_EXPECTED_ENDPOINT=http://localhost:4566
AWS_ENDPOINT_URL=http://localhost:4566
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_EC2_METADATA_DISABLED=true
